@(bookForm: Form[Book])

@import play.twirl.api.Html
@import play.api.data.Form
@import models.Book
@import play.filters.csrf.CSRF
@import helper._

@layout("Create Book"){
    <h1>Create Book</h1>
    @helper.form(action = helper.CSRF(routes.BooksController.save())){
        @helper.inputText(bookForm("id"))
        @helper.inputText(bookForm("title"))
        @helper.inputText(bookForm("price"))
        @helper.inputText(bookForm("author"))

        <input type="submit" value="create book">
    }
}


