@import play.twirl.api.Html
@(title: String)(body: Html)

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/style.css")">

    </head>
    <body>
        <div class="container">
        @body
        </div>

        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("js/custom.js")" type="text/javascript" ></script>
    </body>
</html>
